body, html{
    max-width: max-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
nav {
    width: 1200px;
    height: 50px;
    background-color: #2e2e2e;
    display: flex;
    justify-content:space-between;
}

.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h4{
    color : #fff;
}
.navigation{
    width : 20%;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation button{
    width: 80%;
    height: 60%;
    background-color: #c20000;
    color: #fff;
    font-size : 15px;
    font-weight : bolder;
    border-color: #c20000;
    border-radius: 8px;
}

.navigation button:hover{
    cursor: pointer;
}


main{
    width: 100%;
    background-color: #fff;
    
}

.banner{
    width:100%;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
}

.profile{
    width: 150px;
    height: 150px;
}

.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}

.name{
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name div:first-child{
    width: 100%;
    text-align: center;
}

.name div:first-child h2{
    margin: 0;
    padding: 0;

}

.name div:last-child{
    width: 100%;    
    text-align: center;
}


.description{
    margin-top: 20px;
    width: 618px;
    height: 100px;
    text-align: center;
}


/* .contact-button{
    margin-top: 10px;
} */
.contact-button button{
    width: 150px;
    height: 40px;
    background-color: #c20000;
    color: #fff;
    font-size : 15px;
    font-weight : bolder;
    border-color: #c20000;
    border-radius: 8px;
}

.contact-button button:hover{
    cursor: pointer;
}

.about-us{
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.about-me{
    width: 1024px;
    height:30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me h2{
    margin: 0;
    padding: 0;
}

.about-me-carousel{
    width: 1200px;
    height:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-carousel div{
    width: 350px;
    height: 120px;
    border-radius: 15px;
    border-bottom: 5px solid #c20000;
    box-shadow: 0 0 3px #ccc;
    padding: 20px;
}


.carousel{
    width:100%;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f4;
}

.work-experience{
    width: 1024px;
    height:20%;
    text-align: center;
}

.work-experience-carousel{
    width: 1200px;
    height: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.work-experience-carousel div{
    width: 340px;
    height: 275px;
    border-radius: 15px;
    border-bottom: 5px solid #c20000;
    box-shadow: 0 0 3px #ccc;
    padding: 20px;
}

.work-experience-carousel div h4,p{
    margin:0;
    padding:0;
}

.work-experience-carousel hr{
    margin-top: 20px;
    color:  #ccc;
}

.work-experience-carousel button{
    background-color: #c20000;
    color: #fff;
    width: 150px;
    height: 40px;
    border: 1px solid #c20000;
    border-radius: 5px;
}

.Portfolio-title{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.portfolio{
    width:100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.grid-container {
    width: 1150px;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    border-bottom: 5px solid #c20000;
    box-shadow: 0 0 3px #ccc;
    /* background-image: url("../img/web1.jpg");
    background-size: cover; */
    
  }

  .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



footer{
    width: 1200px;
    height: 50px;
    background-color: #2e2e2e;
    display: flex;
    justify-content:space-between;
}